{% load staticfiles i18n core_helper %}
<footer>
    <div class="left">
        <div class="textLeft">
            <a href="{% url 'frontend:index' %}" title="Trang chủ">Trang chủ</a>

            {% header_categories as low_categories %}

            {% for low_category in low_categories %}
                {% if low_category.is_static %}
                    <a href="{% url 'frontend:category' low_category.slug %}" title="{{ low_category.name }}">{{ low_category.name }}</a>
                {% endif %}
            {% endfor %}


            {% footer_categories as footer_categories %}
            {% for footer_cate in footer_categories %}
                {% if footer_cate.template == 'post' %}
                    <a href="{% url 'frontend:category' footer_cate.slug %}" title="{{ footer_cate.name }}">{{ footer_cate.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="textRight">
            {% footer_categories as footer_categories %}
            {% for footer_cate in footer_categories %}
                {% if footer_cate.template != 'post' %}
                    <a href="{% url 'frontend:category' footer_cate.slug %}" title="{{ footer_cate.name }}">{{ footer_cate.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="right">
        {{ config.FACEBOOK_BLOCK_FOOTER|safe|escape }}
        <div class="accessTurns">
            {% random_number as my_id %}
            <div class="top">{{ my_id }}</div>
            <div class="bottom">Lượt truy cập</div>
        </div>
    </div>
</footer>
<div class="txt-bottom">
  {{ config.FOOTER_TEXT }}
</div>