{% load staticfiles i18n core_helper %}
<div class="top">
    <span class="textL">Hotline: <a href="tel:{{ config.HEADER_HOTLINE }}" title="19001111">{{ config.HEADER_HOTLINE }}</a></span>|<span class="textR"><a href="mailto:{{ config.HEADER_EMAIL }}"  title="{{ config.HEADER_EMAIL }}">{{ config.HEADER_EMAIL }}</a></span>
</div>
<a href="javascript:void(0)" class="btnMenu btnClose"></a>
<nav class="menuTop">
    <ul>
        <li>
            <a href="{% url 'frontend:index' %}"  title="Trang chủ">Trang chủ</a>
        </li>

        {% header_categories as header_categories %}
        {% for header_cate in header_categories %}
            <li>
                {% if header_cate.children.count == 0 %}
                    <a href="{% url 'frontend:category' header_cate.slug %}" title="{{ header_cate.name }}">{{ header_cate.name }}</a>
                {% else %}
                    <a href="javascript:void(0)" title="{{ header_cate.name }}">{{ header_cate.name }}</a>
                {% endif %}
                <ul class="subMenu">
                    {% for child_cate in header_cate.children.all %}
                        <li>
                            <a href="{% url 'frontend:category' child_cate.slug %}"
                               title="{{ child_cate.name }}">{{ child_cate.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>