{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
        <meta name="viewport" content="initial-scale=1,user-scalable=no,width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="fb:app_id" content="{{ config.FB_ID }}" />
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ config.SITE_NAME }}">
        <meta name="twitter:card" content="Card">
        <meta http-equiv="REFRESH" content="1200"/>
        <meta name="REVISIT-AFTER" content="1 DAYS"/>

        <meta name="ROBOTS" content="index,follow"/>
        <meta name="AUTHOR" content="{{ config.SITE_NAME }}"/>
        <meta name="RESOURCE-TYPE" content="DOCUMENT"/>
        <meta name="DISTRIBUTION" content="GLOBAL"/>
        <meta name="COPYRIGHT" content="Copyright 2018 by Goethe"/>
        <meta name="Googlebot" content="index,follow,archive" />
        <meta name="RATING" content="GENERAL"/>

        <meta property="og:url" content="{{ request.get_full_path }}">
        <meta name="twitter:url" content="{{ request.get_full_path }}">

    {% endblock %}

    <!--[if IE]>
    <link rel="stylesheet" href="{% static "frontend/css/all-ie-only.css" %}">
    <![endif]-->
    <link rel="stylesheet" href="{% static "frontend/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "frontend/css/home.css" %}">
    <link rel="stylesheet" href="{% static "frontend/js/easy-autocomplete/easy-autocomplete.min.css" %}">
    <link rel="stylesheet" href="{% static "frontend/js/easy-autocomplete/easy-autocomplete.themes.min.css" %}">
</head>
<body>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ config.FB_ID }}',
            xfbml      : true,
            version    : 'v2.8'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!--583x392-->
{% block content %}
{% endblock %}

<script src="{% static "frontend/js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "frontend/js/easy-autocomplete/jquery.easy-autocomplete.js" %}"></script>
<script src="{% static "frontend/js/SmoothScroll.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="{% static "frontend/js/index.js" %}"></script>
<script src="{% static "frontend/js/search.js" %}"></script>
<script type="text/javascript">
    $(function(){
        $('button#search_button').click(function(){
            $('form#search_form').submit();
        });

        $('button#button_medicine').click(function(){
            $('form#search_medicine').submit();
        });

        $('button#button_special').click(function(){
            $('form#search_special').submit();
        });

        var options = {
            url: function(phrase) {
                return "api/tag?search_value=" + phrase + "&format=json";
            },
            getValue: function (item) {
                return item.fields.name
            },
            requestDelay: 500
        };

        $("#search_value").easyAutocomplete(options);
    });
</script>
</body>
</html>