{% extends 'frontend/base.html' %}
{% load staticfiles i18n  thumbnail core_helper %}

{% block title %}
    {{ block.super }}
    {{ content.name }}
{% endblock %}

{% block meta %}
    {{ block.super }}

    <meta property="og:title" content="{{ content|get_seo_name }}">
    <meta property="og:description" content="{{content|get_seo_desc }}">
    <meta property="og:image" content="{{ content|get_seo_image }}">

    <meta name="twitter:title" content="{{  content|get_seo_name }}">
    <meta name="twitter:description" content="{{ content|get_seo_desc}}">
    <meta name="twitter:image" content="{{ content|get_seo_image }}">

    <meta itemprop="name" content="{{ content|get_seo_name  }}">
    <meta itemprop="description" content="{{ content|get_seo_desc }}">
    <meta itemprop="image" content="{{ content|get_seo_image }}">

    <meta name="ABSTRACT" content="{{ content|get_seo_name }}"/>
    <meta name="DESCRIPTION" content="{{ content|get_seo_desc }}"/>


{% endblock %}

{% block content %}
    <div class="wrapper wrapper-sub">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
            </div>
        </header>
        <div class="body">
            <div class="block3">
                <div class="steps">
                    <h2 class="step1"><a href="{% url 'frontend:category' content.category.slug %}">{{ content.category.name|upper }}</a></h2>
                    <span class="arrow"></span>
                    <h3 class="step2">{{ content.name }}</h3>
                </div>
                <div class="content">
                    <article class="detailContent">
                        {{ content.content|safe|escape }}
                    </article>
                    <div class="relateMedicines">
                        <h3 class="globalTitle">Những dược liệu hỗ trợ chữa {{ content.name }}</h3>
                        <div class="content">
                            {% for post in  content.disease.all %}
                                <a href="{% url 'frontend:content_detail' post.slug %}" class="item item{{ forloop.counter }}" title="{{ post.name }}" style="background: url('{{ post.image.url }}') center center no-repeat;">

                                    {% thumbnail post.image "231x200" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}

                                    <span class="tree-name">{{ post.name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% include 'frontend/common/footer.html' %}
    </div>
{% endblock %}