{% extends 'frontend/base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {{ block.super }}
    {{ category.name|upper }}
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{{ category.name }}">
    <meta name="twitter:title" content="{{ category.name }}">
    <meta itemprop="name" content="{{ category.name }}">
    <meta name="ABSTRACT" content="{{ category.name }}"/>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-sub wrapper-sub2">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
                <div class="search-medicine">
                    <div class="left">
                        <img src="{% static "frontend/images/avatar-search2.jpg" %}" alt="">
                    </div>
                    <div class="right">
                        <div class="txt">{{ category.name|upper }}</div>
                    </div>
                </div>
            </div>
        </header>
        <div class="body">
            <div class="block2">
                <div class="content">
                    {% for post in posts %}
                        {% if post.image %}
                            <a href="{% url 'frontend:content_detail' post.slug %}" class="item item{{ forloop.counter }}" title="{{ post.name }}" style="background: url('{{ post.image.url }}') center center no-repeat;">
                                <img src="{{ post.image.url }}" alt="" class="">
                                <span class="tree-name">{{ post.name }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}

                </div>


            </div>
        </div>
        {% include 'frontend/common/footer.html' %}
    </div>
{% endblock %}