{% extends 'frontend/base.html' %}
{% load staticfiles i18n  thumbnail core_helper %}

{% block title %}
    {{ block.super }}
    {{ content.name }}
{% endblock %}

{% block meta %}
    {{ block.super }}

    <meta property="og:title" content="{{ content|get_seo_name }}">
    <meta property="og:description" content="{{content|get_seo_desc }}">
    <meta property="og:image" content="{{ content|get_seo_image }}">

    <meta name="twitter:title" content="{{  content|get_seo_name }}">
    <meta name="twitter:description" content="{{ content|get_seo_desc}}">
    <meta name="twitter:image" content="{{ content|get_seo_image }}">

    <meta itemprop="name" content="{{ content|get_seo_name  }}">
    <meta itemprop="description" content="{{ content|get_seo_desc }}">
    <meta itemprop="image" content="{{ content|get_seo_image }}">

    <meta name="ABSTRACT" content="{{ content|get_seo_name }}"/>
    <meta name="DESCRIPTION" content="{{ content|get_seo_desc }}"/>


{% endblock %}

{% block content %}
    <div class="wrapper wrapper-sub3 wrapper-sub">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
            </div>
        </header>
        <div class="body">
            <div class="block3">
                <div class="steps">
                    <h2 class="step1"><a href="{% url 'frontend:category' content.category.slug %}">{{ content.category.name|upper }}</a></h2>
                    <span class="arrow"></span>
                    <h3 class="step2">{{ content.name }}</h3>
                </div>
                <div class="content">
                    <div class="leftContent">
                        {{ content.content|safe|escape }}
                        <h3 class="tabTitle">Thành phần</h3>
                        <div class="tabContent tabIngredient">
                            {{ content.thanhphan|safe|escape }}
                        </div>
                        <h3 class="tabTitle">Dạng bào chế</h3>
                        <div class="tabContent tabDosageForms">
                            {{ content.dangbaoche|safe|escape }}
                        </div>
                        <h3 class="tabTitle">Chỉ định</h3>
                        <div class="tabContent tabIndication">
                            {{ content.chidinh|safe|escape }}
                        </div>
                        <h3 class="tabTitle">Liều dùng</h3>
                        <div class="tabContent tabDosage">
                            {{ content.lieudung|safe|escape }}
                        </div>
                    </div>
                    <div class="rightContent">
                        {% verbatim %}
                        <div class="danhmuc_caythuoc" data-ng-app="medicineApp" data-ng-controller="SearchMedicineController">
                            <h3 class="rs globalTitle">TRA CỨU DƯỢC LIỆU</h3>
                            <div class="content">
                                <input type="text" data-ng-model="searchMedicine" id="search_caythuoc" placeholder="Tìm kiếm cây thuốc ..."/>
                                <select name="" id="choose_caythuoc" multiple>
                                    <option value="" data-ng-click="redirect(medicine)" data-ng-repeat="medicine in medicineList | filter: searchMedicine">{{ medicine.fields.name }}</option>
                                </select>
                                <div class="choose_caythuoc">
                                    <ul>
                                        <li data-ng-click="redirect(medicine)" data-ng-repeat="medicine in medicineList | filter: searchMedicine">{{ medicine.fields.name }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                        <div class="relatedTrees">
                            <h3 class="rs globalTitle">Có thể bạn quan tâm</h3>
                            <div class="content">
                                {% for obj in related_objects %}
                                    <a href="{% url 'frontend:content_detail' obj.slug %}" class="item item{{ forloop.counter }}" title="{{ obj.name }}">
                                        {% thumbnail obj.image "270x182" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                        <span class="tree-name">{{ obj.name }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'frontend/common/footer.html' %}
    </div>
{% endblock %}