{% extends 'frontend/base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {{ block.super }}
    TRA CỨU THEO BÀI THUỐC
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="TRA CỨU THEO BÀI THUỐC">
    <meta name="twitter:title" content="TRA CỨU THEO BÀI THUỐC">
    <meta itemprop="name" content="TRA CỨU THEO BÀI THUỐC">
    <meta name="ABSTRACT" content="TRA CỨU THEO BÀI THUỐC"/>
{% endblock %}


{% block content %}
    <div class="wrapper wrapper-sub">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
                <div class="search-medicine">
                    <div class="left">
                        <img src="{% static "frontend/images/avatar-search3.jpg" %}" alt="">
                    </div>
                    <div class="right">
                        <div class="txt">TRA CỨU THEO BÀI THUỐC</div>
                        <form id="search_medicine" action="{% url 'frontend:drug_list' %}" class="form-medicine">
                            <input type="text" name="q" placeholder="Tìm kiếm theo tên bài thuốc ..." value="{% if request.GET.q is not None %}{{ request.GET.q }}{% endif %}" >
                            <button id="button_medicine"><img src="{% static "frontend/images/icon-search.jpg" %}" alt="" class="imgFull"></button>
                        </form>
                        <div class="txt-alphabet">
                            {% for alphabet in alphabets %}
                                <a href="{% url 'frontend:drug_list' %}?q={{ alphabet| lower }}" title="{{ alphabet| lower }}" class="{% if request.GET.q == alphabet|lower %}active{% endif %}">{{ alphabet }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="body">
            <div class="block2">
                <div class="content">
                    {% for medicine in medicines %}
                        {% if medicine.image %}
                            <a href="{% url 'frontend:content_detail' medicine.slug %}" class="item item{{ forloop.counter }}" title="{{ medicine.name }}" style="background: url('{{ medicine.image.url }}') center center no-repeat;">
                                <img src="{{ medicine.image.url }}" alt="" class="">
                                <span class="tree-name">{{ medicine.name }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}

                </div>

                {% if medicines.has_other_pages %}
                    <ul class="pagination">
                        <li><a href="?page=1">Đầu</a></li>
                        {% if medicines.has_previous %}
                            <li><a href="?page={{ medicines.previous_page_number }}&{{ path }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in medicines.paginator.page_range %}
                            {% if medicines.number == i %}
                                <li>
                                    <a class="current" href="javascript:void(0)">{{ i }}</a>
                                </li>

                            {% else %}
                                {% if medicines.number|add:"5" > i and medicines.number|add:"-5" < i %}
                                    <li><a href="?page={{ i }}&{{ path }}">{{ i }}</a></li>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                        {% if medicines.has_next %}
                            <li><a href="?page={{ medicines.next_page_number }}&{{ path }}">&raquo;</a></li>
                        {% endif %}

                        {% if medicines.paginator.num_pages > 0 and medicines.number != medicines.paginator.num_pages %}

                            <li><a href="?page={{ medicines.paginator.num_pages }}&{{ path }}&{{ path }}">Cuối</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

            </div>
        </div>

        {% include 'frontend/common/footer.html' %}

    </div>
{% endblock %}