{% extends 'frontend/base.html' %}
{% load staticfiles i18n thumbnail %}

{% block title %}
    {{ block.super }}
    Tra cứu | Thông tin khoa học
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-sub wrapper-sub2">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
                <div class="search-medicine">
                    <div class="left">
                        <img src="{% static "frontend/images/avatar-search5.jpg" %}" alt="">
                    </div>
                    <div class="right">
                        <div class="txt">Thông tin khoa học</div>
                    </div>
                </div>
            </div>
        </header>
        <div class="body">
            <div class="block4">
                <div class="leftBlock">
                    {% for medicine in medicines|slice:"0:1" %}
                    <a href="{% url 'frontend:post_detail' medicine.slug %}" class="item" title="{{ medicine.name }}" style="background: url('{{ medicine.image.url }}') center center no-repeat;">

                        {% thumbnail medicine.image "500x336" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="imgFull">
                        {% endthumbnail %}

                        <span>
                        {{ medicine.name }}
                    </span>
                    </a>
                    {% endfor %}
                </div>
                <div class="rightBlock">
                    {% for medicine in medicines|slice:"1:3" %}
                    <a href="{% url 'frontend:post_detail' medicine.slug %}" class="item" title="{{ medicine.name }}">
                        {% thumbnail medicine.image "233x157" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="imgFull">
                        {% endthumbnail %}
                        <span>
                        {{ medicine.name }}
                        <i class="summary">{{ medicine.desc }}</i>
                        <i class="view-more">Xem thêm</i>
                    </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="block5">
                <div class="leftBlock">
                    {% for medicine in medicines|slice:"3:" %}
                        <a href="{% url 'frontend:post_detail' medicine.slug %}" class="item"
                           title="{{ medicine.name }}">
                            {% thumbnail medicine.image "332x223" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="imgFull">
                            {% endthumbnail %}
                            <span>
                        {{ medicine.name }}
                        <i class="summary">{{ medicine.desc }}</i>
                        <i class="view-more">Xem thêm</i>
                    </span>
                        </a>
                    {% endfor %}
                </div>
                <div class="rightBlock">
                    <a href="javascript:void(0)" title="Dược liệu Tuệ Linh - Dược liệu sạch cho mọi nhà">
                        <img src="{% static "frontend/images/demo4.jpg" %}" alt="" class="imgFull">
                    </a>
                </div>
                {% if medicines.has_other_pages %}
                    <ul class="pagination">
                        <li><a href="?page=1">Đầu</a></li>
                        {% if medicines.has_previous %}
                            <li><a href="?page={{ medicines.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in medicines.paginator.page_range %}
                            {% if medicines.number == i %}
                                <li>
                                    <a class="current" href="javascript:void(0)">{{ i }}</a>
                                </li>

                            {% else %}
                                {% if medicines.number|add:"5" > i and medicines.number|add:"-5" < i %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                        {% if medicines.has_next %}
                            <li><a href="?page={{ medicines.next_page_number }}">&raquo;</a></li>
                        {% endif %}

                        {% if medicines.paginator.num_pages > 0 and medicines.number != medicines.paginator.num_pages %}

                            <li><a href="?page={{ medicines.paginator.num_pages }}">Cuối</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% include 'frontend/common/footer.html' %}
    </div>
{% endblock %}