{% extends 'frontend/base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {{ block.super }}
    {{ category.name|upper }}
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{{ category.name }}">
    <meta name="twitter:title" content="{{ category.name }}">
    <meta itemprop="name" content="{{ category.name }}">
    <meta name="ABSTRACT" content="{{ category.name }}"/>
{% endblock %}


{% block content %}
    <div class="wrapper wrapper-sub">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
                <div class="search-medicine">
                    <div class="left">
                        <img src="{% static "frontend/images/avatar-search3.jpg" %}" alt="">
                    </div>
                    <div class="right">
                        <div class="txt">{{ category.name|upper }}</div>
                        <form id="search_medicine" action="{% url 'frontend:category' category.slug %}" class="form-medicine">
                            <input type="text" name="q" placeholder="Tìm kiếm theo tên dược liệu ..." value="{% if request.GET.q is not None %}{{ request.GET.q }}{% endif %}" >
                            <button id="button_medicine"><img src="{% static "frontend/images/icon-search.jpg" %}" alt="" class="imgFull"></button>
                        </form>
                        <div class="txt-alphabet">
                            {% for alphabet in alphabets %}
                                <a href="{% url 'frontend:category' category.slug %}?q={{ alphabet| lower }}" title="{{ alphabet| lower }}" class="{% if request.GET.q == alphabet|lower %}active{% endif %}">{{ alphabet }}</a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="body">
            <div class="block2">
                <div class="content">
                    {% for post in posts %}
                        {% if post.image %}
                        <a href="{% url 'frontend:content_detail' post.slug %}" class="item item{{ forloop.counter }}" title="{{ post.name }}" style="background: url('{{ post.image.url }}') center center no-repeat;">
                                <img src="{{ post.image.url }}" alt="" class="">
                            <span class="tree-name">{{ post.name }}</span>
                        </a>
                        {% endif %}
                    {% endfor %}

                </div>

                {% if posts.has_other_pages %}
                    <ul class="pagination">
                        <li><a href="?page=1">Đầu</a></li>
                        {% if posts.has_previous %}
                            <li><a href="?page={{ posts.previous_page_number }}&{{ path }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                                <li>
                                    <a class="current" href="javascript:void(0)">{{ i }}</a>
                                </li>

                            {% else %}
                                {% if posts.number|add:"5" > i and posts.number|add:"-5" < i %}
                                    <li><a href="?page={{ i }}&{{ path }}">{{ i }}</a></li>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                        {% if posts.has_next %}
                            <li><a href="?page={{ posts.next_page_number }}&{{ path }}">&raquo;</a></li>
                        {% endif %}

                        {% if posts.paginator.num_pages > 0 and posts.number != posts.paginator.num_pages %}

                            <li><a href="?page={{ posts.paginator.num_pages }}&{{ path }}&{{ path }}">Cuối</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

            </div>
        </div>

        {% include 'frontend/common/footer.html' %}

    </div>
{% endblock %}