{% extends 'frontend/base.html' %}
{% load staticfiles i18n  thumbnail core_helper %}

{% block title %}
    {{ block.super }}
    KẾT QUẢ TÌM KIẾM
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content=" KẾT QUẢ TÌM KIẾM {{ request.GET.search_value }}">
    <meta name="twitter:title" content=" KẾT QUẢ TÌM KIẾM {{ request.GET.search_value }}">
    <meta itemprop="name" content=" KẾT QUẢ TÌM KIẾM {{ request.GET.search_value }}">
    <meta name="ABSTRACT" content=" KẾT QUẢ TÌM KIẾM {{ request.GET.search_value }}"/>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-sub">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
            </div>
        </header>
        <div class="body">
            <div class="block3">
                <div class="steps">
                    <h2 class="step1">KẾT QUẢ TÌM KIẾM</h2>
                    <span class="arrow"></span>
                    <h3 class="step2">{{ request.GET.search_value }}</h3>
                </div>
                <div class="content">
                    {% for post in posts %}
                        <div class="item item{{ forloop.counter }}">
                            <div class="left" style="background: url('{{ post.image.url }}') center center no-repeat;">
                                {% thumbnail post.image "288x193" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="imgFull">
                                {% endthumbnail %}
                            </div>
                            <div class="right">
                                <a href="{% url 'frontend:content_detail' post.slug %}" class="title" title="{{ post.name }}">{{ post.name }}</a>
                                {% if post.category.template is not 'post' %}
                                    <div class="info">
                                        <span>Tên tiếng việt: {{ post.name|display_not_none }}</span>
                                        <span>Tên khoa học: {{ post.s_name|display_not_none }}</span>
                                        <span>Họ: {{ post.last_name|display_not_none }}</span>
                                        <span>Công dụng: {{ post.other_name|display_not_none }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'frontend/common/footer.html' %}
    </div>
{% endblock %}