{% extends 'frontend/base.html' %}
{% load staticfiles i18n  thumbnail core_helper %}

{% block title %}
    {{ block.super }}
    {{ content.name }}
{% endblock %}


{% block meta %}
    {{ block.super }}

    <meta property="og:title" content="{{ content|get_seo_name }}">
    <meta property="og:description" content="{{content|get_seo_desc }}">
    <meta property="og:image" content="{{ content|get_seo_image }}">

    <meta name="twitter:title" content="{{  content|get_seo_name }}">
    <meta name="twitter:description" content="{{ content|get_seo_desc}}">
    <meta name="twitter:image" content="{{ content|get_seo_image }}">

    <meta itemprop="name" content="{{ content|get_seo_name  }}">
    <meta itemprop="description" content="{{ content|get_seo_desc }}">
    <meta itemprop="image" content="{{ content|get_seo_image }}">

    <meta name="ABSTRACT" content="{{ content|get_seo_name }}"/>
    <meta name="DESCRIPTION" content="{{ content|get_seo_desc }}"/>


{% endblock %}

{% block content %}
    <div class="wrapper wrapper-sub3 wrapper-sub">
        <header class="header-sub">

            {% include 'frontend/common/header.html' %}

            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
            </div>

        </header>
        <div class="body">
            <div class="block3">
                <div class="steps">
                    <h2 class="step1"><a href="{% url 'frontend:category' content.category.slug %}">{{ content.category.name|upper }}</a></h2>
                    <span class="arrow"></span>
                    <h3 class="step2">{{ content.name }}</h3>
                </div>
                <div class="content">
                    <div class="block7">
                        <div class="thumb-imgs">

                            {% with 'galery_image1 galery_image2 galery_image3' as list %}
                                {% for i in list.split %}
                                    {% if content|getattribute:i %}
                                        <a href="javascript:void(0)" title="{{ content.name }}" class="{% if forloop.counter == 1 %}active {% endif %} img-thumbs" data-img=".bigImg{{ forloop.counter }}" data-infos=".info1">

                                            {% thumbnail content|getattribute:i "109x82" crop="center" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="imgFull">
                                            {% endthumbnail %}

                                        </a>
                                    {% endif %}
                                {% endfor %}

                            {% endwith %}

                        </div>
                        <div class="big-imgs">
                            {% with 'galery_image1 galery_image2 galery_image3' as list %}
                                {% for i in list.split %}
                                    {% if content|getattribute:i %}
                                        <a href="javascript:void(0)" title="{{ content.name }}" class="{% if forloop.counter == 1 %}active {% endif %}bigImg bigImg{{ forloop.counter }}">
                                            {% thumbnail content|getattribute:i "356x266" crop="center" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="imgFull">
                                            {% endthumbnail %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                        <div class="img-infos">
                            <div class="info info1 active">
                                <span class="title">{{ content.name }}</span>
                                <span>Tên tiếng việt: {{ content.vi_name|display_not_none }}</span>
                                <span>Tên khoa học: {{ content.s_name|display_not_none }}</span>
                                <span>Họ: {{ content.last_name|display_not_none }}</span>

                                <span>Công dụng: {{ content.other_name|display_not_none }}</span>

                            </div>
                        </div>
                    </div>
                    <div class="leftContent">
                        <div class="detailDescriptions">
                            <span class="captain"><i>Mô tả chi tiết</i></span>
                            <div class="detailDesContent">
                                {{ content.content |safe|escape }}
                            </div>
                            <div class="tags">
                                <span>Từ khóa: </span>
                                {% for tag in content.tags.all %}
                                    <a href="{% url 'frontend:tag' tag.slug %}" title="{{ tag.name }}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                     <div class="rightContent">
                         {% verbatim %}
                        <div class="danhmuc_caythuoc" data-ng-app="specialApp" data-ng-controller="SearchSpecialController">
                            <h3 class="rs globalTitle">TRA CỨU DANH LỤC</h3>
                            <div class="content">
                                <input type="text" data-ng-model="searchMedicine" id="search_caythuoc" placeholder="Tìm kiếm cây thuốc ..."/>
                                <select name="" id="choose_caythuoc" multiple>
                                    <option value="" data-ng-click="redirect(content)" data-ng-repeat="content in specialList | filter: searchMedicine">{{ content.fields.name }}</option>
                                </select>
                                <div class="choose_caythuoc">
                                    <ul>
                                        <li data-ng-click="redirectSpecial(content)" data-ng-repeat="content in specialList | filter: searchMedicine">{{ content.fields.name }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                         {% endverbatim %}
                        <div class="relatedTrees">
                            <h3 class="rs globalTitle">Có thể bạn quan tâm</h3>
                            <div class="content">
                                {% for obj in related_objects %}
                                    <a href="{% url 'frontend:content_detail' obj.slug %}" class="item item5" title="{{ obj.name }}">
                                        {% thumbnail obj.image "270x182" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                        <span class="tree-name">{{ obj.name }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% include 'frontend/common/footer.html' %}
    </div>
{% endblock %}