{% extends 'frontend/base.html' %}
{% load staticfiles i18n  thumbnail %}

{% block title %}
    {{ block.super }}
    DƯỢC LIỆU THEO TỪ KHÓA
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content=" DƯỢC LIỆU THEO TỪ KHÓA {{ tag.name|upper }}">
    <meta name="twitter:title" content="  DƯỢC LIỆU THEO TỪ KHÓA {{ tag.name|upper }}">
    <meta itemprop="name" content="  DƯỢC LIỆU THEO TỪ KHÓA {{ tag.name|upper }}">
    <meta name="ABSTRACT" content="  DƯỢC LIỆU THEO TỪ KHÓA {{ tag.name|upper }}"/>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-sub">
        <header class="header-sub">
            {% include 'frontend/common/header.html' %}
            <div class="banner-header">
                {% include 'frontend/common/search_form.html' %}
            </div>
        </header>
        <div class="body">
            <div class="block3">
                <div class="steps">
                    <h2 class="step1">DƯỢC LIỆU THEO TỪ KHÓA</h2>
                    <span class="arrow"></span>
                    <h3 class="step2">{{ tag.name|upper }}</h3>
                </div>
                <div class="content">
                    {% for medicine in medicines %}
                        <div class="item item{{ forloop.counter }}">
                        <div class="left" style="background: url('{{ medicine.image.url }}') center center no-repeat;">
                            {% thumbnail medicine.image "288x193" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="imgFull">
                            {% endthumbnail %}
                        </div>
                        <div class="right">
                            <a href="{% url 'frontend:content_detail' medicine.slug %}" class="title" title="{{ medicine.name }}">{{ medicine.name }}</a>
                            <div class="info">
                                <span>Tên tiếng việt: {{ medicine.name }}</span>
                                <span>Tên khoa học: {{ medicine.s_name }}</span>
                                <span>Tên khác: {{ medicine.other_name }}</span>
                                <span>Họ: {{ medicine.last_name }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'frontend/common/footer.html' %}
    </div>
{% endblock %}